<div class="conteiner cont-login">  
  <main class="main-login">

      <div>
        <h1>Bienvenid@</h1>
        <label>Email</label>
        <input type="email" [(ngModel)]='email' placeholder="ejemplo@mail.com">      
        <label>Contraseña</label>
        <input type="password" id="passInput" [(ngModel)]='pass'>
      </div>    

      <div>
        <button type="button" class="btn btn-primary" (click)="ClickIngresar()">Ingresar</button>
      </div>              

      <p>
        <small>¿No tenés cuenta todavía? <a href="/register">Registrate</a></small>
      </p>

      <div class="text-center" id="spinner">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
  </main> 
</div>