<div class="conteiner cont-login">  
  <main class="main-login">

      <div>
        <h1>Bienvenid@</h1>
        <label>Email</label>
        <input type="email" [(ngModel)]='email' [disabled]="isDisabled" placeholder="ejemplo@mail.com" [required]="isRequiered">      
        <label>Contraseña</label>
        <input type="password" id="passInput" [(ngModel)]='pass' [disabled]="isDisabled" [required]="isRequiered">
      </div>    

      <div>
        <button type="button" class="btn btn-primary" (click)="ClickIngresar()" [disabled]="isDisabled">Ingresar</button>
      </div>              

      <p>
        <small>¿No tenés cuenta todavía? <a href="/register">Registrate</a></small>
      </p>

      <div class="text-center" *ngIf="showSpinner">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div class="alert alert-danger small" role="alert"  *ngIf="hasAlert" >
        {{alertMessage}}
      </div>
  </main> 
</div>